<script>
$(function() {
  $('#names').vTicker();
});
</script>
<div class="jumbotron">
  <div class="container">
    <h1><span class="dance_for">Dance for</span><div id="names"><ul><li>Nick</li><li>Sarah</li></ul></div></h1>
    <p>Who are you dancing for?</p>
    <p>
      <%= link_to( "Sign Up", { controller: :dancers, action: :new} , class: "btn btn-success btn-lg") %>
      <br>or <%= link_to "donate", controller: :donations, action: :index %> instead!
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>Content there!</p>
    </div>
    <div class="col-md-4">
      <p>Content there!</p>
    </div>
    <div class="col-md-4">
      <p>12 Hours!</p>
    </div>
  </div>
  <div class="row">

  </div>
</div>