:javascript
  $(function() {
    $('#names').vTicker();
  });
.jumbotron
  .container
    %h1
      %span.dance_for Dance for
      #names
        %ul
          %li Nick
          %li Sarah
    %p.lead Who are you dancing for?
    %p
      = link_to( "Sign Up", new_dancer_registration_path , class: "btn btn-success btn-lg")
      %br
      or 
      = link_to "donate", controller: :donations, action: :index
      instead!
.container
  .row
    .col-md-4
      %p Wake ‘N Shake is a dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund.  For 12 hours, students, alumni, and faculty members come together in support of all those affected by cancer.  The event is simply non-stop fun, complete with food, games, prizes, live entertainment, and speakers.
    .col-md-4
      %p Content there!
    .col-md-4
      %p 12 Hours!