.container
  %h1.text-center.page-header Thank you to our sponsors! Below are the listed corporate sponsors who have joined our fight against cancer. Together, we all make a difference.
  - if can? :manage, :all
    = link_to 'New Sponsor', new_sponsor_path, class: "btn btn-md btn-primary"
  %br
  %br
  - @sponsors.each do |sponsor|
    .col-md-3
      .thumbnail
        = link_to image_tag(sponsor.logo.url(:medium), style: "min-height: 130px;")
        - if can? :manage, :all
          .text-center
            = link_to "Edit", edit_sponsor_path(sponsor), class: "btn btn-xs btn-default"
            = link_to "Delete", sponsor, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger"
