<div class="container">
  <div class="page-header">
  <div class="text-center"><h1>Support Us</h1>
  <p>All proceeds go to the Brian Piccolo Research Cancer Fund</p></div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <div class="well">
      <h3>Donate to a Dancer</h3>
      <p>Send a donation to your friends, family, and fellow dancers to help support their fundraising efforts!</p>
    <%= form_tag(dancers_path, :method => "get", class: "input-group", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search dancers..." %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    <% end %>
    </div>
    </div>
    <div class="col-md-6">
    <div class="well">
      <h3>Donate to Wake 'N Shake</h3>
      <p>If you do not want to donate to a specific dancer or team, you can make a general donation to Wake 'N Shake by clicking below.</p>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Donation to Wake 'N Shake"
              data-amount="500"
              data-label="Donate to Wake 'N Shake"
              data-panel-label="Donate {{amount}}"></script>
    </div>
    </div>
  </div>
</div>