.container
  .row
    .col-md-6.col-md-offset-3
      %br
      %br
      .well
        %h3 Pay for your registration
        %br
        %p To complete your registration, click the "Pay" button below to pay your registration fee.
        %br
        = form_tag ENV['PAYMENTURL'], :method => 'post', :authenticity_token => 'false' do
          .form-inline
            .form-group
              .input-group
                =hidden_field_tag "is_registration_fee", "true"
                =hidden_field_tag "charge_type", "Dancer"
                =hidden_field_tag "dancer_id", current_dancer.id
                =hidden_field_tag "redirect_url", ENV['REDIRECTURL']
              %button{class: "btn btn-block btn-lg btn-primary donation-amount-btn"}
                %b Click here to pay by credit card&nbsp;
                %i.fa.fa-1x.fa-credit-card
              %br

