.container
  .row
    .col-md-12
      %br
      %h1.page-header.text-center 2016 Wake 'N Shake Committee
      %h3 Co-Chairs
      = render partial: "/dancers/profiles", locals: {object: @chairs}
  .row
    .col-md-12
      %hr
      = render partial: "/dancers/profiles", locals: {object: @staff}
