.container
  %h1.page-header.text-center About Wake 'N Shake
  .row
    .col-md-6
      %p Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund.  For 12-hours, students, alumni, and faculty members come together to stay standing in support of all those affected by cancer, asking for donations in support of their participation.  The event is non-stop fun, complete with food, games, prizes, live entertainment, and speakers.

      %p Wake ‘N Shake has grown exponentially in the past nine years and it is exciting to see the event get bigger year after year. In 2006, the first year of Wake ‘N Shake, about 300 students danced to raise $30,000. In 2014, just nine years later, 1,300 students danced to raise $182,000. The event has quickly turned into a beloved campus-wide tradition that students and faculty look forward to all year-long.  Today, Wake ‘N Shake is proud to be Wake Forest University’s largest philanthropy event, both in number of participants and amount raised.

      %p We attribute this profound success to an incredibly compassionate student body, with supportive networks of family and friends who are eager to support this worthwhile cause. One of the taglines of our event is “it’s about being a part of something bigger than yourself,” which proves true year after year. Wake ‘N Shake is a group effort by members of both the Wake Forest and Winston-Salem communities.
      
      %br
      .text-center
        %p= link_to("Help us reach our goal", charges_path, class: "btn btn-primary btn-lg btn-block")

    .col-md-6
      =image_tag("/about.jpg", class: "img-responsive")
