- object.each do |dancer|
  .col-md-2
    = link_to dancer do
      .thumbnail.thumbnail-fixed-height
        .profile-spaced
          = image_tag(dancer.avatar.url, size: "150", class: "profile-spaced center-block img-responsive")
        .text-center.caption
          %h4= name(dancer)
          - if dancer.stafftitle.present?
            %h6.text-muted= dancer.stafftitle
