.container
  .page-header.text-center
    %h1 Dancers
  .row
    .col-md-4
      .form-inline
        = form_tag(dancers_path, :method => "get", id: "search-form") do
          .input-group
            = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search dancers...")
            %span.input-group-btn
              %button.btn.btn-default{type:"button"}
                %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
      %br
  .row
    - @dancers = @dancers.paginate(page: params[:page]).per_page(24).order('amount_raised DESC')
    = render partial: "profiles", object: @dancers
  .pagination.pagination-centered
    = will_paginate(@dancers, renderer: BootstrapPagination::Rails)
