<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="well">
    <div class="text-center"><h4>Sign In</h4></div>
    <%= form_for :dancer, url: dancers_path do |f| %>
      <p><%= f.email_field :email, class: "form-control input-lg", placeholder: "Email Address" %></p>
      <p><%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %></p>
      <div class="text-center"><%= f.submit %></div>
    <% end %>
  </div>
</div>
<div class="col-md-3"></div>
</div>
</div>