@import "bootstrap-sprockets"
@import "bootstrap"
@import "home_page"
@import "font-awesome"

body
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif !important

.jumbotron
  overflow: hidden

// Navigation
.navbar-inverse
  background: #333
  border-color: #444

.nav li a
  color: #FFF

.label
  color: #333

.navbar-inverse .navbar-nav li a
  color: #FFF

.navbar-inverse .navbar-brand
  font-weight: medium

.dropdown:hover .dropdown-menu, .dropdown-menu li a:hover
  display: block
  background: #000

// Footer
#footer
  background: #333
  color: #FFF
  padding-top: 10px
  margin-bottom: 30px

#footer a
  color: #777

#footer a:hover
  text-decoration: none
  color: #FFF

a .thumbnail:hover
  background-color: #F2F2F2
  text-decoration: none !important

.thumbnail-fixed-height
  height: 215px

.profile-spaced
  display: inline-block
  overflow: hidden
  width: 100%
  display: flex
  align-items: center

.no-underline:hover
  text-decoration: none !important
