@import "bootstrap-sprockets"
@import "bootstrap"
@import "home_page"

// Navigation
.navbar-inverse
  background: #333
  border-color: #444

.nav li a
  color: #FFF

.navbar-inverse .navbar-nav li a
  color: #FFF

.navbar-inverse .navbar-brand
  font-weight: bold

// Footer
#footer
  background: #333
  color: #FFF
  padding-top: 10px
  margin-bottom: 30px

#footer a
  color: #777

#footer a:hover
  text-decoration: none
  color: #FFF