@import "bootstrap-sprockets"
@import "bootstrap"
@import "home_page"
@import "font-awesome"

body
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif !important

.jumbotron
  overflow: hidden

// Navigation
.navbar-inverse
  background: #333
  border-color: #444

.nav li a
  color: #FFF
  text-transform: uppercase
  font-size: 12px

.label
  color: #333

.navbar-inverse .navbar-nav li a
  color: #FFF

.navbar-inverse .navbar-brand
  font-weight: medium
  text-transform: none
  font-size: 18px

.navbar-inverse .navbar-toggle
  color: #FFF
  border-color: #FFF

.dropdown:hover .dropdown-menu, .dropdown-menu li a:hover
  display: block
  background: #000

.navbar .divider-vertical
  height: 50px
  margin: 0 9px
  border-right: 1px solid #ffffff
  border-left: 1px solid #f2f2f2

.navbar-inverse .divider-vertical
  border-right-color: #444444
  border-left-color: #111111

// Footer
#footer
  background: #333
  color: #FFF
  padding-top: 10px
  margin-bottom: 30px

#footer a
  color: #777

#footer a:hover
  text-decoration: none
  color: #FFF

a .thumbnail:hover
  background-color: #F2F2F2
  text-decoration: none !important

.thumbnail-fixed-height
  height: 215px

.profile-spaced
  display: inline-block
  overflow: hidden
  width: 100%
  height: 130px
  position: relative
//  display: flex
//  align-items: center

.profile-spaced img
  position: absolute
  height: 100%
  width: auto
  display: block
  margin: auto

.no-underline:hover
  text-decoration: none !important

.btn-primary
  background: #369ff4

.btn-primary:hover, .btn-primary:focus, .btn-primary.active
  background: #70bbf7

.input-group .form-control:not(:first-child):not(:last-child)
  border-radius: 5px
.image-spaced 
  height: 150px
  display: inline-block
  overflow: hidden
  width: 100%
  display: flex
  align-items: center


.img 
  vertical-align: middle

