.jumbotron {
  min-height: 400px;
  background: #000 image-url("photo_grid.png") repeat-x center center;
  color: #FFF;
}
.dancing_for_frame {
  position: relative;
}
.dance_for {
  height: 100px;
  line-height: 100px;
  margin-right: 20px;
  margin-top: -30px;
  position: absolute;
  top: 15px;
}
#names {
  display: inline-block;
  width: 60%;
  color: #FFFF00;
  position: absolute;
  left: 33%;
}
.lead-text {
  font-size: 26px;
}
/* Nav Bar Styling */
.navbar-inverse {
  margin: 0;
  border-radius: 0;
}
