Dear Donor,
%br
%br
Thank you so much for your contribution to the Brian Piccolo Cancer Research Fund! You are helping us get one step closer to finding a cure. Be sure to tune in to wakenshake.com on March 18th to watch a live feed of our dancers shaking it during our 12th annual Wake 'N Shake! 
%br
%br
We thank you again for your support,
%br
%br
WNS Co-Chairs
%br
Alexandra North, Mike Hanamirian and Moira Sweeney
