.container
  .row.text-center
    %br
    %br
    %i.text-danger.fa.fa-5x.fa-heart-o
    %h1 Thank you for your support!
    %h3 Your gift will support the Wake Forest Brian Piccolo Cancer Research Fund.
    %br
    = link_to "Go to homepage", root_path, class: "btn btn-lg btn-success"
    %br
    %br
