<!DOCTYPE html>
<html>
<head>
  <title>Wake 'N Shake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation Bar -->
	<div class="container">
		<div id="navbar-header">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="main-container" class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
