<!DOCTYPE html>
<html>
<head>
  <title>Wake 'N Shake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div id="navbar-header">
				<ul class="nav navbar-nav">
					<li>
						<a class="navbar-brand" href="#">Wake 'N Shake</a>
					</li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li><a href="#">Separated link</a></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
					<li>
						<a href="#">Donate</a>
					</li>
					<li>
						<a href="#">Become a Dancer</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="main-container" class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
